In [1]:
from google.colab import drive
drive.mount("/content/drive")

import os
os.chdir("/content/drive/My Drive/Colab Notebooks/Ericsson")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [15]:
# Colum index in the raw data file

import pandas as pd

vendeurs = pd.read_csv("vendeurs.txt",  sep = " ") # Txt format
vendeurs_csv = pd.read_csv("vendeurs2.csv", sep = " ") # CSV format
vendeurs_csv2 = pd.read_csv("vendeurs3.csv", sep = " ") # Ad the Index column name to the index

print(vendeurs.head())
print(vendeurs_csv.head())
print(vendeurs_csv2.head())

   EmpID  Mois  nVentes  TotVentes
1    100     1     16.0   15687.46
2    100     2     21.0   21496.56
3    100     3     11.0   12015.78
4    100     4     18.0   18537.36
5    100     5     13.0   13440.72
   EmpID  Mois  nVentes  TotVentes
1    100     1     16.0   15687.46
2    100     2     21.0   21496.56
3    100     3     11.0   12015.78
4    100     4     18.0   18537.36
5    100     5     13.0   13440.72
   Index  EmpID  Mois  nVentes  TotVentes
0      1    100     1     16.0   15687.46
1      2    100     2     21.0   21496.56
2      3    100     3     11.0   12015.78
3      4    100     4     18.0   18537.36
4      5    100     5     13.0   13440.72

In [5]:
# Append data

import pandas as pd, numpy as np

# Concatenate series
ser1 = pd.Series(['A','B','C'], index=[1,2,3])
ser2 = pd.Series(['D','E','F'], index=[4,5,6])
ser_concat=pd.concat([ser1,ser2])
print('Concatenate Series:\n', ser_concat)
print("\n")


# Concatenate dataframes
df1 = pd.DataFrame({'B1': [1, 2, 3], 'B2': [2, 5, 8], 'B3': [3, 6, 9]})
df2 = pd.DataFrame({'B1': [4, 5, 6], 'B2': [10, 9, 8], 'B3': [4, 8, 5]})
df_concat=pd.concat([df1, df2]).reset_index(drop=True)
print('Concatenate DataFrames:\n', df_concat)
print("\n")

# With Append() method
ser_concat1 = ser1.append(ser2)
df_concat1 = df1.append(df2 , ignore_index=True)
print('Append Series:\n', ser_concat1)
print("\n")
print('Append DataFrames:\n', df_concat1)
print("\n")

df_concat2 = df1.append({'B1': 4, 'B2': 10, 'B3': 4} , ignore_index=True)
print('df_concat2:\n', df_concat2)
print("\n")

# Adding lines with a loop
df3 = pd.DataFrame({'B1': ["A1", "A2", "A3"], 'B2': [2, 5, 8], 'B3': [3, 6, 9]})
print(df3)

for i in range(4,6):
     df3.loc[i] = ['A' + str(i)] + [i+1, i+2]

print(df3)

Concatenate Series:
 1    A
2    B
3    C
4    D
5    E
6    F
dtype: object


Concatenate DataFrames:
    B1  B2  B3
0   1   2   3
1   2   5   6
2   3   8   9
3   4  10   4
4   5   9   8
5   6   8   5


Append Series:
 1    A
2    B
3    C
4    D
5    E
6    F
dtype: object


Append DataFrames:
    B1  B2  B3
0   1   2   3
1   2   5   6
2   3   8   9
3   4  10   4
4   5   9   8
5   6   8   5


df_concat2:
    B1  B2  B3
0   1   2   3
1   2   5   6
2   3   8   9
3   4  10   4


   B1  B2  B3
0  A1   2   3
1  A2   5   6
2  A3   8   9
   B1  B2  B3
0  A1   2   3
1  A2   5   6
2  A3   8   9
4  A4   5   6
5  A5   6   7