![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNNMSrl6xvbfPjLuk9k3dl7VyNi0ky19x11A&usqp=CAU)

# **Introduction to Python for Data Science - Part 2 : Data Manipulation (b)**
Ericsson - August 4 to August 13, 2020

by Sarah Legendre Bilodeau, M Sc., HEC Montr√©al

Autors :
Thomas Vaudescal,
Sarah Legendre Bilodeau,
Laurent Barcelo,

# Missing values

Working with missing values is common in data science. The Pandas package makes working with missing data as easy as possible. For example, all of the descriptive statistics on pandas objects exclude missing data by default.

To represent missing data on numeric data, pandas uses the value NaN (Not a Number).

There are several methods for working with missing values :
- ``dropna`` : Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate
- ``fillna`` : Fill in missing data with some value or using an interpolation method such as ``ffill`` or ``bfill``
- ``isnull`` : Return boolean values indicating which values are missing / NA
- ``notnull`` : Negation of ``isnull``

In [1]:
import numpy as np, pandas as pd

s1 = pd.Series(['apple', 'orange', 'pear', np.nan, 'banana'])
print(s1.isnull())

s1[0]=None #built-in Python None value is treated as NA
print(s1.isnull())

0    False
1    False
2    False
3     True
4    False
dtype: bool
0     True
1    False
2    False
3     True
4    False
dtype: bool

## Deleting rows or columns with missing values

In [2]:
# Series

from numpy import nan as NA

s2 = pd.Series([10, 21, 456, NA, 18, NA])
print(s2)

s3 = s2.dropna() # or s2[s2.notnull()]
print(s3)

s2[0]=NA
print(s3)

0     10.0
1     21.0
2    456.0
3      NaN
4     18.0
5      NaN
dtype: float64
0     10.0
1     21.0
2    456.0
4     18.0
dtype: float64
0     10.0
1     21.0
2    456.0
4     18.0
dtype: float64

In [3]:
# Dataframe

# lines
data = pd.DataFrame([[1.,6.5,3.],[1.,NA,NA],[NA,NA,NA], [NA,6.5,3.]])
print(data)
print("\n")

data_c1 = data.dropna() # drops lines with 1 NA or more
print(data_c1)
print("\n")

data_c2 = data.dropna(how="all") # drops lines with all column NA
print(data_c2)
print("\n")

# columns
data[3]=NA
print(data)
print("\n")

data_c3 = data.dropna(axis=1)
print(data_c3)
print("\n")


data_c4 = data.dropna(axis=1, how="all")
print(data_c4)
print("\n")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0


     0    1    2
0  1.0  6.5  3.0


     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0


     0    1    2   3
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN


Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]


     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

## Replacing missing values (and other replacements)

Filling in missing data can be done with the ``fillna`` method. It is a special case of more general value replacement. ``Replace`` can be use for a simpler and more flexible way to do so.

In [113]:
# Filling NA

data1 = data.fillna(0)
print(data1)
print("\n")

data2 = data.fillna(data.mean())
print(data2)

     0    1    2    3
0  1.0  6.5  3.0  0.0
1  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  6.5  3.0  0.0


     0    1    2   3
0  1.0  6.5  3.0 NaN
1  1.0  6.5  3.0 NaN
2  1.0  6.5  3.0 NaN
3  1.0  6.5  3.0 NaN

In [15]:
data2 = pd.Series([1.,-999.,2.,-999.,-1000.,3.])
print(data2)
print("\n")

data3 = data2.replace(-999., np.nan)
print(data3)
print("\n")

data4 = data2.replace([-999,-1000], np.nan)
print(data4)
print("\n")

data5 = data2.replace([-999,-1000], [np.nan, 0])
print(data5)
print("\n")

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64


0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64


0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64


0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

# Loops 

Loops will allow us to execute a block of code several times, i.e. to execute a code "in a loop" as long as a given condition is verified.

The idea is to describe repetition as a kind of circular motion, in which the code executes a series of tasks over and over again, until the loop ends. 

Using the ``Python`` language, we will work with two types of loops:

- Iterative ``for`` loops
- ``while`` loops (as long as ...)

For these two types of loops, we will use **clauses**, i.e. an addition of a block of code that changes the way it works. Let's look at the 4 types of clauses for the ``for`` and ``while`` loops:

- ``break`` : Ends the current loop
- ``continue`` : Ends the process for the current element immediately
- ``pass`` : Finishes processing for the current element after executing the instruction in the ``if`` block
- ``else`` : Provides an alternative technique when the loop conditions are not met

## FOR loops

**The "for" loop iterates on each value in a sequence** (sequence of elements). When you want to repeat the same instruction or block of instructions a given number of times, the ``for`` command is appropriate. In general, the syntax of a ``for`` loop is :

``for var in sequence:``. 

To summarize :


1. The instruction line starts with the keyword ``for`` 
2. The next element is a variable.
3. The keyword ``in`` tells Python that the sequence continues
4. Iteration in the ``sequence`` which can be a series of letters in a string, or numeric elements in a collection

In [114]:
for i in range(4):
    print(i, end = "\n") # The code must be indented

0
1
2
3

In [115]:
for lettre in "Bonjour":
    print(lettre, end = "")

Bonjour

In [116]:
names = ["Marie","Niels","Albert","Max"]

for n in names:
    print(n, end = "   ")

Marie   Niels   Albert   Max

In [119]:
# Iterate with 2 lists
names1 = ["Marie","Niels","Albert","Max"]
names2 = ["Curie","Bohr","Einstein","Planck"]

# The zip() function will create tuples 
for n1, n2 in zip(names1, names2):
    print(n1 , n2 , end = ", ")
print("\n")   

# result with index

for i, (n1, n2) in enumerate(zip(names1,names2)):
    print(i , n1 , n2)

Marie Curie, Niels Bohr, Albert Einstein, Max Planck,

0 Marie Curie
1 Niels Bohr
2 Albert Einstein
3 Max Planck

## The conditions: IF, ELIF and ELSE ##



- In Python, the ``if`` statement provides the simplest method for making decisions. If this statement finds that something is true, it means that Python should perform the following steps. 


- It is also possible to choose alternatives using the ``else`` clause of the ``if`` statement. A **clause** is an addition to a block of code that changes the way it works. The ``else`` clause allows us to perform an alternative task when the ``if`` statement is not checked. 


- It is possible to add as many specific conditions as we want by adding the keyword ``elif`` , contraction of ``else`` and ``if``, which could be translated as ``otherwise``.

Here are some basic examples:

In [120]:
# If examples
number = 4

# The syntax for validating an equality condition is ==
if number == 4:
    print("The number is 4")

The number is 4

In [121]:
# Exemple with if and else
chiffre = 5

if chiffre == 4: 
    print("The number is indeed equal to 4")
    
else:
    print("The number is different to 4")

The number is different to 4

In [122]:
# Exemple avec if, else et elif
number = 15

if number == 13:
    print("The number is equal to 13")
    
elif number == 14:
    print("The number is equal to 14")
    
elif number == 15:
    print("The number is equal to 15")
    
else:
    print("Other")

The number is equal to 15

## Loops with conditional statements: FOR & IF

In Python, it is possible to **combine loops with conditional statements**. For example:

In [7]:
# The range function has 3 arguments : (start, stop, step).
for i in range(1,7):
    if i < 5:
        print(i, "< 5")
    elif i == 5:
        print(i, "= 5")
    else:
        print(i, "> 5")

for i in range(1, 10, 2):
    print(i)

1 < 5
2 < 5
3 < 5
4 < 5
5 = 5
6 > 5
1
3
5
7
9

## WHILE Loops

The instruction ``while`` works with a **condition** instead of a sequence. This condition indicates that the while statement must perform a certain task, as long as this condition remains **true** (or until it becomes false).      

Syntax: ``while condition: Instruction A``.

Our first task is to **initialize our variable**. The second is to **create our ``while`` loop with a condition**.
The third task is to **increase** our while loop, that is, to increase the value of the variable at the end of each loop. Here is some shortcuts for increments:

- Variable = variable + 1 becomes variable += 1
- Variable = variable - 1 becomes "variable -= 1
- Variable = variable * 1 becomes "variable *= 1
- etc ...


Here are some examples :

In [124]:
# Initialization
compteur = 1

while compteur < 5: # While loop with a condition
    print(compteur)
    compteur += 1 # increase our variable

1
2
3
4

In [125]:
x = 2

while x <= 10:
    
    print("The value of x is : {0}".format(x))
    
    x *= 2

The value of x is : 2
The value of x is : 4
The value of x is : 8

In [3]:
euro = 1

while euro < 64:
    
    dollar = 1.65*euro
    
    print("{0} euro(s) is √©quivalent to {1} dollar(s)".format(euro,dollar))
    print("{} euro(s) is √©quivalent to {} dollar(s)".format(euro,dollar))
    
    euro *= 2

1 euro(s) is √©quivalent to 1.65 dollar(s)
1 euro(s) is √©quivalent to 1.65 dollar(s)
2 euro(s) is √©quivalent to 3.3 dollar(s)
2 euro(s) is √©quivalent to 3.3 dollar(s)
4 euro(s) is √©quivalent to 6.6 dollar(s)
4 euro(s) is √©quivalent to 6.6 dollar(s)
8 euro(s) is √©quivalent to 13.2 dollar(s)
8 euro(s) is √©quivalent to 13.2 dollar(s)
16 euro(s) is √©quivalent to 26.4 dollar(s)
16 euro(s) is √©quivalent to 26.4 dollar(s)
32 euro(s) is √©quivalent to 52.8 dollar(s)
32 euro(s) is √©quivalent to 52.8 dollar(s)

## List Comprehensions

It is possible to create lists with the loop concept in python. Indeed, it is possible to rewrite a "for loop" in a single line of code using objects called "list comprehensions". The syntax is as follows: 

``new_list = [expression(i) for i in old_list if filter(i)]``. 

Let's see what this looks like in practice:

In [5]:
# with a for loop :
old_list = [3,6,8,15,17]
new_list = []

for i in old_list:
    if i > 8:   
        new_list.append(i*2)
        
print(new_list)

[30, 34]

In [2]:
# with a list comprehension
old_list = [3,6,8,15,17]

new_list = [i*2 for i in old_list if i >= 8]
print(new_list)

[16, 30, 34]

# Creating functions

Functions are the primary and most important method of code organization and reuse in Python. Functions can help to make code more readable by giving a name to a group of Python statements.

Functions are declared with the ``def`` keyword and returned from with the ``return`` keyword.

The indentation is necessary when writing functions.

In [5]:
# Define the current directory
import os
os.chdir("G:\\Mon disque\\Colab Notebooks\\Ericsson")

In [26]:
#from google.colab import drive
#drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑
Mounted at /content/drive

In [9]:
import os
os.chdir("C:\\Git\\GitHub\\LearnAIML\\Python\\PythonTraining\\Part2-NumpyAndPanda\\Data_part2a")

In [25]:
import pandas as pd
pd.set_option('display.max_rows', 10)
vendeurs = pd.read_csv("vendeurs.txt",  sep = " ")
print(vendeurs)

      EmpID  Mois  nVentes  TotVentes
1       100     1     16.0   15687.46
2       100     2     21.0   21496.56
3       100     3     11.0   12015.78
4       100     4     18.0   18537.36
5       100     5     13.0   13440.72
...     ...   ...      ...        ...
1796   2504     8     20.0   19388.83
1797   2504     9     22.0   23814.61
1798   2504    10     17.0   15438.43
1799   2504    11     21.0   20388.20
1800   2504    12     27.0   27398.28

[1800 rows x 4 columns]

In [21]:
# Function goodres : return the data for the asked EmpID with min of nVentes
def goodres(data, emp, minNV=0): #function with 3 arguments (2 mandatory and 1 optional)
    return data.loc[(data['EmpID']==emp) & (data['nVentes']>minNV)] # indentation, and the parenthesis around the conditions are mandatory

print(goodres(data=vendeurs, emp=1003, minNV=20))
goodres(vendeurs, 1003, 20)

     EmpID  Mois  nVentes  TotVentes
690   1003     6     23.0   22941.26
692   1003     8     24.0   24049.34
693   1003     9     24.0   22420.29
694   1003    10     26.0   24786.01
695   1003    11     33.0   32954.60
696   1003    12     22.0   21685.90

     EmpID  Mois  nVentes  TotVentes
690   1003     6     23.0   22941.26
692   1003     8     24.0   24049.34
693   1003     9     24.0   22420.29
694   1003    10     26.0   24786.01
695   1003    11     33.0   32954.60
696   1003    12     22.0   21685.90

In [26]:
goodres(data=vendeurs, emp=1500) #minNV = 0

     EmpID  Mois  nVentes  TotVentes
985   1500     1     15.0   15384.15
986   1500     2      5.0    5578.10
987   1500     3     17.0   18066.24
988   1500     4     12.0   11418.42
989   1500     5     20.0   21012.79
..     ...   ...      ...        ...
992   1500     8     18.0   17460.55
993   1500     9     10.0   10353.54
994   1500    10     13.0   14029.72
995   1500    11     26.0   26321.82
996   1500    12     17.0   17127.39

[12 rows x 4 columns]

# String Manipulation

Python offers many advantages for string manipulation through its string and text processing methods.

For more integrated code with other data science tasks, Pandas package offer many functions and tools to apply string and regular expressions concisely on whole arrays of data.

## Syntax elements

We saw before that there is usually no difference in the use of single or double quotation marks when writing a string. It is possible to embed a single or double quote in a string, no matter how it is framed, by using the `\` character.
For example, the following two commands give equivalent results:

In [27]:
str1 = "It's a good test for you"
str2 = 'IT\'s a good test for you'

print(str1)
print(str2)

It's a good test for you
IT's a good test for you

If the character `\` is to be part of the string, it must be doubled. For example:

In [ ]:
str3 = "ratio : \"mensual sales\"\\\"total sales\""
print(str3)

ratio : "mensual sales"\"total sales"

Other special characters are useful. For example :
- \n : New line
- \r : Carriage return
- \t : Tabulation

## String Object Methods

Some basic methods are available for simple string manipulations :

- count : Return the number of non-overlaping occurrences of substring in the string
- endswith : Returns `True` if string ends with suffix
- startswith : Returns `True` if string starts with prefix
- join : Use string as delimiter for concatenating a sequence of other strings
- index : Return position of first character in substring if found in the string
- find : Return position of the character of first occurence of substring in the string
- rfind : Return position of first character of last occurence of substring in the string
- replace : Replace occurrences of string with another string
- strip, rstrip, lstrip : Trim whitespace, including newlines
- split : Break string into list of substring using passed delimiter
- lower : Convert alphabet characters to lowercase
- upper : Convert alphabet characters to uppercase
- casefold : Convert characters to lowercase, and convert any region-specific variable character combinations to a common comparable form
- ljust, rjust : Left justify or right justify, respectively

In [29]:
str1 = "one, two, three, four, five"
print(type(str1))

# Split a string into pieces
str2 = str1.split(',')
print(type(str2))
print(str2)

# ... without the whitespaces
str3 = str1.split(', ')
# or
str3 = [x.strip() for x in str1.split(',')]
print(str3)

<class 'str'>
<class 'list'>
['one', ' two', ' three', ' four', ' five']
['one', 'two', 'three', 'four', 'five']

In [30]:
first, second, third, fourth, fifth = str3

str4 = first + ";" + second + ";" + third + ";" + fourth + ";" + fifth
print(str4)

# or
str4 = ";".join(str3)
print(str4)

one;two;three;four;five
one;two;three;four;five

In [34]:
print("three" in str3)
print("six" in str3)

print(str4.index(";"))
print(str4.index("three"))
# print(str4.index(",")) # Error! The index() method raises an exception if the value is not found.
print(str4.find(",")) # Not found

True
False
3
8
-1

In [ ]:
print(str4.count(";"))

4

In [35]:
str5=str4.replace(";",".")
print(str5)

str6=str4.replace(";","")
print(str6)

one.two.three.four.five
onetwothreefourfive

## Regular Expressions

In this section, the concept of regular expressions, often called `regex`, will be discussed. The concept of regular expressions is useful for string manipulation, since it is a concept that uses a concise language to describe structures in unstructured or semi-structured data.

The **re** package is good for working with strings in three categories :
- pattern matching  
- substitution  
- splitting

In [36]:
import re

# Splitting a string
str1 = "one two      three   four                five"
print(re.split('\s+', str1)) # + : At least one

# Reusable regex object : recommanded if you intend to apply the same expression to many strings
my_split1 = re.compile('\s+')
print(my_split1.split(str1))

['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five']

Some regular expressions:

In [41]:
villes0 = "Montr√©al, Rimouski, Qu√©bec"
Villes = villes0.upper()

print(Villes)

print(re.findall("ON", Villes)) # Contains the string ON
print(re.search(".U.", Villes)) # Contains U with any before and after characters
print(re.findall(".U.", Villes)) # Contains U with any before and after characters
print(re.search("^M", Villes)) # Contains M at the beginning
print(re.search("C$", Villes)) # Contains C at the end
print(re.search("I", Villes)) # Only the first one!
print(re.findall("I", Villes))
print(re.match("I", Villes))
print(re.match(".*I*", Villes))
print(re.match("I", "I"))

MONTR√âAL, RIMOUSKI, QU√âBEC
['ON']
<re.Match object; span=(13, 16), match='OUS'>
['OUS', 'QU√â']
<re.Match object; span=(0, 1), match='M'>
<re.Match object; span=(25, 26), match='C'>
<re.Match object; span=(11, 12), match='I'>
['I', 'I']
None
<re.Match object; span=(0, 26), match='MONTR√âAL, RIMOUSKI, QU√âBEC'>
<re.Match object; span=(0, 1), match='I'>

In [44]:
mat = "mathieu, matthieu, matieu, julie"

print(re.findall("\s*[a-z]+t*ieu", mat)) # \s* : At least 0 space ; [a-z] : At least 1 lowercase letter ; t* At least 0 t
print(re.findall("\s*[a-z]+t+ieu", mat)) # t+ : At least 1 t...

print(re.findall("\w+t*ieu", mat))
print(re.findall("\w+t+ieu", mat)) # t+ : At least 1 t...

['mathieu', ' matthieu', ' matieu']
[' matieu']
['mathieu', 'matthieu', 'matieu']
['matieu']

## String manipulations on Pandas objects

A column in a pandas object can contain strings. Series has array-oriented methods for string operations (that skip NA values). There are accessed through Series's str attribute.

In [45]:
import pandas as pd, numpy as np

data1 = {'Dave': 'dave@yahoo.ca', 'Steve': 'steve@yahoo.com', 'Rob': 'rob@gmail.com', 'Sam': 'samgmail.com', 'Wes': np.nan}
data2 = pd.Series(data1)

print(data2)

Dave       dave@yahoo.ca
Steve    steve@yahoo.com
Rob        rob@gmail.com
Sam         samgmail.com
Wes                  NaN
dtype: object

In [47]:
data2.str.contains('gmail.com')

pattern = r'([A-Za-z0-9]+)@'
print(data2.str.findall(pattern))
print("\n")

pattern1 = r'([A-Za-z0-9]+)(@)([A-Za-z0-9]+)(\.)([A-Za-z]{3})'
m1 = data2.str.findall(pattern1).str[0]
print('m1\n', m1)
print("\n")

n1 = m1.str.get(0)
print(n1)
print("\n")

m2 = data2.str.extract(pattern1)
print(m2)
print(type(m2))

Dave      [dave]
Steve    [steve]
Rob        [rob]
Sam           []
Wes          NaN
dtype: object


m1
 Dave                           NaN
Steve    (steve, @, yahoo, ., com)
Rob        (rob, @, gmail, ., com)
Sam                            NaN
Wes                            NaN
dtype: object


Dave       NaN
Steve    steve
Rob        rob
Sam        NaN
Wes        NaN
dtype: object


           0    1      2    3    4
Dave     NaN  NaN    NaN  NaN  NaN
Steve  steve    @  yahoo    .  com
Rob      rob    @  gmail    .  com
Sam      NaN  NaN    NaN  NaN  NaN
Wes      NaN  NaN    NaN  NaN  NaN
<class 'pandas.core.frame.DataFrame'>

# Data Cleaning and preparation

Several steps can be considered when preparing data for analyses. For example :

- Missing Data and replacing values (see **Missing values** section)
- Remove duplicates
- Transforming  strings (see **String Manipulation** section)
- Discretization and binning

In [7]:
import pandas as pd, numpy

# Remove duplicates
data = pd.DataFrame({'k1':['one','two']*3+['two'], 'k2':[1,1,2,3,3,4,4]})
print(data)
print("\n")

print(data.duplicated()) # Is a row is a duplicated?
print("\n")

data1 = data.drop_duplicates() #drop duplicates
print(data1)
print("\n")

data2 = data.drop_duplicates(keep='last')
print(data2)
print("\n")

data3 = data.drop_duplicates(["k2"])
print(data3)

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4


0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool


    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4


    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
6  two   4


    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

In [24]:
# Discretization and binning

ages=[20,22,25,27,21,23,37,31,61,45,41,32]
bins=[18,25,35,60,100]
cats=pd.cut(ages,bins) # Special Categoriacl object (like an array of strings); right=False for changing to [ )
print(cats)
print("\n")
print(cats.codes)
print(cats.categories)
print(pd.value_counts(cats))


group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
cats2 = pd.cut(ages, bins, labels=group_names)
print(cats2)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]


[0 0 0 1 0 0 2 1 3 2 2 1]
IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')
(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64
[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]