![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNNMSrl6xvbfPjLuk9k3dl7VyNi0ky19x11A&usqp=CAU)

# **Introduction to Python for Data Science - Exercices part 2 (b) - SOLUTIONS**
Ericsson - August 4 to August 13, 2020

Sarah Legendre Bilodeau, M Sc., HEC Montréal

In the following section, you will perform data manipulation on tourist establishments data in Quebec.

The data contained in the files:
- etablissements.csv
- territories.csv

# Exercice 1

Using the **etablissements.txt** file, answer the following questions:


a) Import the data into a dataframe  

b) Perform checks on the variables to ensure that the data can be used without problems for future use. Here are some suggestions for checks:
- Missing values
- Column class
- Special characters

c) Create 3 new binary variables (0/1) which will be
built according to the following guidelines:
- **Sun**: If the word *sun* is found in the variable ETBL_DESC_EN: 1, 0 otherwise.
- **Forest**: If the word *forest* is found in the ETBL_DESC_EN variable: 1, 0 otherwise.
- **Sea**: If the word *sea* is found in the variable ETBL_DESC_EN: 1, 0 otherwise.
- **Accommodation**: If the word *accommodation* is found in the variable ETBL_DESC_EN: 1, 0 otherwise.

Make sure you capture all the words requested, regardless of whether the letters are upper or lower case, and singular or plural.

One usefull link to test Regex : https://regex101.com/

In [1]:
#a)

from google.colab import drive
drive.mount("/content/drive")

import os
os.chdir("/content/drive/My Drive/Colab Notebooks/Ericsson")

import pandas as pd
import re 

etbl = pd.read_csv("etablissements.csv",  sep = ";",encoding='latin-1')
pd.set_option('max_colwidth', 400)
display(etbl.head())

#b) 
display(etbl.dtypes)

display(etbl.isnull().sum())
etbl.dropna(inplace = True) 

display(len(etbl.loc[etbl.ETBL_DESC_EN.str.find("&#38;")!=-1,:]))  
etbl = etbl.replace("&#38;",'&',regex=True)

display(len(etbl.loc[etbl.ETBL_DESC_EN.str.find("<span")!=-1,:]))
etbl = etbl.replace('<span','',regex=True)
 # further cleaning can be done


# c) 
for index in etbl.index:
    if re.findall(r"\bsun+\s*", etbl["ETBL_DESC_EN"][index]):
      etbl.loc[index, "sun"] = 1 
    else : 
      etbl.loc[index, "sun"] = 0

for index in etbl.index:
    if re.findall(r"\bforest+\s*", etbl["ETBL_DESC_EN"][index]):
      etbl.loc[index, "forest"] = 1 
    else : 
      etbl.loc[index, "forest"] = 0

for index in etbl.index:
    if re.findall(r"\bsea+\s*", etbl["ETBL_DESC_EN"][index]):
      etbl.loc[index, "sea"] = 1 
    else : 
      etbl.loc[index, "sea"] = 0

for index in etbl.index:
    if re.findall(r"\bAccommodation+\s*", etbl["ETBL_DESC_EN"][index]):
      etbl.loc[index, "Accommodation"] = 1 
    else : 
      etbl.loc[index, "Accommodation"] = 0


# One of the lternative : lambda function
# etbl["sun"] = list(map(lambda x: 1 if re.findall(r"\bsun+\s*",x) else 0, etbl["ETBL_DESC_EN"]))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   ETBL_ID  ... ETBL_RESERVABLE
0   838721  ...               0
1   838774  ...               0
2   838885  ...               0
3   838963  ...               0
4   839010  ...               0

[5 rows x 6 columns]

ETBL_ID             int64
ETBL_NOM_FR        object
ETBL_NOM_EN        object
ETBL_DESC_FR       object
ETBL_DESC_EN       object
ETBL_RESERVABLE     int64
dtype: object

ETBL_ID               0
ETBL_NOM_FR           0
ETBL_NOM_EN           0
ETBL_DESC_FR       4536
ETBL_DESC_EN       4544
ETBL_RESERVABLE       0
dtype: int64

418

87

# Exercice 2
Using the **territoires.csv** file, answer the following questions:

a) Import the data into a dataframe  

b) Create a function from the territories data table, to display the number of ETBL_ID by Territory Zone (TERR_ZONE_NOM_EN) according to the type of territory zone (TERR_ZONE_GENRE_EN) passed as argument to the call of the function. 

For example, you could call your function in the following way if you want to display the results for cities and regions respectively:
- Zone_type(gender = ‘City’)
- Zone_type(gender = ‘Region’)

In [2]:
#a)
from google.colab import drive
drive.mount("/content/drive")

import os
os.chdir("/content/drive/My Drive/Colab Notebooks/Ericsson")

import pandas as pd

ter = pd.read_csv("territoires.csv",  sep = ";",encoding='latin-1')
pd.set_option('max_colwidth', 400)
display(ter.head())

#b)
def Zone_type(gender):
  terr_gender = ter.loc[ter.TERR_ZONE_GENRE_EN==gender,:]
  result = terr_gender.groupby("TERR_ZONE_NOM_EN")['ETBL_ID'].agg(['count'])
  return result

display(Zone_type('City'))
display(Zone_type('Province'))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   ETBL_ID TERR_GENRE  ...  TERR_ZONE_GENRE_FR TERR_ZONE_GENRE_EN
0   838721  principal  ...  Quartier / secteur    District / Area
1   838721  principal  ...               Ville               City
2   838721  principal  ...              Région               Area
3   838721  principal  ...            Province           Province
4   838774  principal  ...               Ville               City

[5 rows x 8 columns]

                  count
TERR_ZONE_NOM_EN
Acton Vale            4
Adstock               7
Aguanish              5
Akulivik              1
Albanel               3
...                 ...
Westbury              1
Wickham               1
Windsor               3
Wotton                7
Yamachiche            5

[918 rows x 1 columns]

                  count
TERR_ZONE_NOM_EN
Quebec            10790