<a href="https://colab.research.google.com/github/JeffreyXieCn/LearnAIML/blob/master/Python/PythonTraining/Part2-NumpyAndPanda/Python_Exercices_part2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNNMSrl6xvbfPjLuk9k3dl7VyNi0ky19x11A&usqp=CAU)

# **Introduction to Python for Data Science - Exercices part 2 (b) - SOLUTIONS**
Ericsson - August 4 to August 13, 2020

Sarah Legendre Bilodeau, M Sc., HEC Montréal

In the following section, you will perform data manipulation on tourist establishments data in Quebec.

The data contained in the files:
- etablissements.csv
- territories.csv

# Exercice 1

Using the **etablissements.csv** file, answer the following questions:


a) Import the data into a dataframe  

b) Perform checks on the variables to ensure that the data can be used without problems for future use. Here are some suggestions for checks:
- Missing values
- Column class
- Special characters

c) Create 4 new binary variables (0/1) which will be
built according to the following guidelines:
- **Sun**: If the word *sun* is found in the variable ETBL_DESC_EN: 1, 0 otherwise.
- **Forest**: If the word *forest* is found in the ETBL_DESC_EN variable: 1, 0 otherwise.
- **Sea**: If the word *sea* is found in the variable ETBL_DESC_EN: 1, 0 otherwise.
- **Accommodation**: If the word *accommodation* is found in the variable ETBL_DESC_EN: 1, 0 otherwise.

Make sure you capture all the words requested, regardless of whether the letters are upper or lower case, and singular or plural.

One usefull link to test Regex : https://regex101.com/

In [15]:
# Import pandas package as pd
import pandas as pd

# read from GitHub
filePath = 'https://raw.githubusercontent.com/JeffreyXieCn/LearnAIML/master/Python/PythonTraining/Part2-NumpyAndPanda/Data_part2a/etablissements.csv?token=AHAYCAWPCVBKMFSUSPIORBK7GUXPS'

# Read a csv file
df = pd.read_csv(filePath, sep = ';', encoding = 'Windows-1252')
print(df.shape)
df.head(5)

(10746, 6)

   ETBL_ID  ... ETBL_RESERVABLE
0   838721  ...               0
1   838774  ...               0
2   838885  ...               0
3   838963  ...               0
4   839010  ...               0

[5 rows x 6 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10746 entries, 0 to 10745
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ETBL_ID          10746 non-null  int64
 1   ETBL_NOM_FR      10746 non-null  object
 2   ETBL_NOM_EN      10746 non-null  object
 3   ETBL_DESC_FR     6210 non-null   object
 4   ETBL_DESC_EN     6202 non-null   object
 5   ETBL_RESERVABLE  10746 non-null  int64
dtypes: int64(2), object(4)
memory usage: 503.8+ KB

# Exercice 2
Using the **territoires.csv** file, answer the following questions:

a) Import the data into a dataframe  

b) Create a function from the territories data table, to display the number of ETBL_ID by Territory Zone (TERR_ZONE_NOM_EN) according to the type of territory zone (TERR_ZONE_GENRE_EN) passed as argument to the call of the function. 

For example, you could call your function in the following way if you want to display the results for cities and regions respectively:
- Zone_type(gender = ‘City’)
- Zone_type(gender = ‘Region’)

In [14]:
# Import pandas package as pd
import pandas as pd

# read from GitHub
filePath = 'https://raw.githubusercontent.com/JeffreyXieCn/LearnAIML/master/Python/PythonTraining/Part2-NumpyAndPanda/Data_part2a/territoires.csv?token=AHAYCASRC2JCARPRAMCRVYS7GUXHY'

# Read a csv file
df = pd.read_csv(filePath, sep = ';', encoding = 'ISO-8859-1')
print(df.shape)
df.head(5)

(37178, 8)

   ETBL_ID TERR_GENRE  ...  TERR_ZONE_GENRE_FR TERR_ZONE_GENRE_EN
0   838721  principal  ...  Quartier / secteur    District / Area
1   838721  principal  ...               Ville               City
2   838721  principal  ...              Région               Area
3   838721  principal  ...            Province           Province
4   838774  principal  ...               Ville               City

[5 rows x 8 columns]