![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNNMSrl6xvbfPjLuk9k3dl7VyNi0ky19x11A&usqp=CAU)

# **Introduction to Python for Data Science - Exercices part 2 (a) - SOLUTIONS**
Ericsson - August 4 to August 13, 2020

Sarah Legendre Bilodeau, M Sc., HEC Montréal

# Exercice 1
Using the **employes.txt** file, answer the following questions:

The dataset contains the number of sales and the total amount of sales for each employee each month.

a) What is the total number of sales for the company during the year (total for all employees)? What is the total amount of these sales?

b) Which employee set the record for the highest number of sales in one month this year? What is this record?

c) Calculate the average amount of sales for each employee each month.

d) Calculate the average amount of each employee's sales for the entire year.

In [1]:
#a)

from google.colab import drive
drive.mount("/content/drive")

import os
os.chdir("/content/drive/My Drive/Colab Notebooks/Ericsson")

import pandas as pd

employes = pd.read_csv("employes.txt",  sep = " ")

print(employes['nVentes'].sum())
print(employes['TotVentes'].sum())

#b) 
max1 = employes['nVentes'].max()
print(employes.loc[employes['nVentes']==max1])

#c)
employes["ventes_moy"] = employes["TotVentes"]/employes["nVentes"]
print(employes)

#d)
nbr_emp = pd.DataFrame(employes.groupby('EmpID')['nVentes'].sum())
amount_emp = pd.DataFrame(employes.groupby('EmpID')['TotVentes'].sum())

moy1 = amount_emp.merge(nbr_emp, on="EmpID")
moy1["mean"]=moy1.TotVentes/moy1.nVentes
print(moy1)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
1475
1469664.28
    EmpID  Mois  nVentes  TotVentes
95   1007    11       29   28927.87
    EmpID  Mois  nVentes  TotVentes   ventes_moy
1    1000     1        4    4002.92  1000.730000
2    1000     2        9    8983.81   998.201111
3    1000     3        6    5953.80   992.300000
4    1000     4       14   13916.99   994.070714
5    1000     5       12   11954.92   996.243333
..    ...   ...      ...        ...          ...
92   1007     8       17   16934.93   996.172353
93   1007     9       28   27858.51   994.946786
94   1007    10       17   16963.67   997.862941
95   1007    11       29   28927.87   997.512759
96   1007    12       18   17934.28   996.348889

[96 rows x 5 columns]
       TotVentes  nVentes        mean
EmpID
1000   161624.19      163  991.559448
1001   171580.65      173  991.795665
1002   164425.99      165  996.521152
1003   148382.33      149  995.854564
1004   211587.20      212  998.052830
1005   184341.64      185  996.441297
1006   214725.28      215  998.722233
1007   212997.00      213  999.985915

# Exercice 2
Using the **gtq-shows.csv** file, answer the following questions:

a) Import the data into a dataframe  

b) Using the Date column, create three new columns in your Python object (dataframe) that will contain :
- the year
- the month
- the day  

c) Create a Python object that will contain all observations for which the subtitle is not missing (NA).  

d) Get the number of events that will take place per room, for the entire season. These results can simply be displayed in the result window.

In [2]:
#a)
gtq = pd.read_csv("gtq-shows.csv",  sep = ",")
print(gtq)

#b)
gtq["Date"]=pd.to_datetime(gtq.Date)
print(gtq.dtypes)
gtq["year"]=gtq["Date"].dt.year
gtq["month"]=gtq["Date"].dt.month
gtq["day"]=gtq["Date"].dt.day

print(gtq[["year", "month","day"]])

#c)
gtq1 = gtq.loc[gtq['Sous-titre'].isna()==False,]
print(gtq1["Sous-titre"].head(10))

#d)
nb_room = gtq.groupby('Salle').size()
print(nb_room)

                    Date  ...                  Salle
0    2016-09-13 19:30:00  ...  Salle Octave-Crémazie
1    2016-09-14 19:30:00  ...  Salle Octave-Crémazie
2    2016-09-14 20:00:00  ...  Salle Louis-Fréchette
3    2016-09-15 20:00:00  ...  Salle Octave-Crémazie
4    2016-09-16 20:00:00  ...  Salle Louis-Fréchette
..                   ...  ...                    ...
239  2017-05-20 20:00:00  ...  Salle Louis-Fréchette
240  2017-05-24 20:00:00  ...  Salle Louis-Fréchette
241  2017-05-24 20:00:00  ...  Salle Octave-Crémazie
242  2017-05-25 10:30:00  ...  Salle Louis-Fréchette
243  2017-05-25 20:00:00  ...  Salle Octave-Crémazie

[244 rows x 4 columns]
Date          datetime64[ns]
Titre                 object
Sous-titre            object
Salle                 object
dtype: object
     year  month  day
0    2016      9   13
1    2016      9   14
2    2016      9   14
3    2016      9   15
4    2016      9   16
..    ...    ...  ...
239  2017      5   20
240  2017      5   24
241  2017      5   24
242  2017      5   25
243  2017      5   25

[244 rows x 3 columns]
2                       Concert d'ouverture
4           Oliver Jones passe le flambeau!
21                  Sur la voie ensoleillée
28                              In Extremis
30                              In Extremis
31    Tous ensemble réunis pour la culture!
34                              In Extremis
35    Tous ensemble réunis pour la culture!
46                        The Family Album
48                              Rock'oustic
Name: Sous-titre, dtype: object
Salle
Foyer de la salle Louis-Fréchette     19
Salle Louis-Fréchette                 90
Salle Octave-Crémazie                129
dtype: int64