![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNNMSrl6xvbfPjLuk9k3dl7VyNi0ky19x11A&usqp=CAU)

# **Introduction to Python for Data Science - Exercices part 1**
Ericsson - August 4 to August 13, 2020

Sarah Legendre Bilodeau, M Sc., HEC Montr√©al ( sarah.legendre.bilodeau@vidensanalytics.com )

# Exercice 1
Build a code to calculate the amount after applying an inflation rate to an initial amount. 
Use the concept of variables to store your data, including input data and the result.
Print your result and the type of your result variable in the result window.

In [1]:
# Your solution
before = 100
inflationRate = 0.02
after = before * (1 + inflationRate)

print(after)
print(type(after))

102.0
<class 'float'>

# Exercice 2
Considering the following quote:

*"Elementary, my dear Watson."*

a) Create a string variable with that quote for content. Create a code for extracting the last word without the point. Display that word in the result window.

Note : Do not hesitate to search on google to find an appropriate function if needed !

In [2]:
# Your solution
str = "Elementary, my dear Watson."
print(str.rindex(' '));
print(len(str));
print(str[str.rindex(' ') + 1 : len(str) - 1])
print(str[str.rindex(' ') + 1 : -1])

19
27
Watson
Watson

b) Remove the comma from the **same object** that contain the quote. Display the result in the result window.

In [3]:
# Your solution
#print(str[0: -1])
print(str[:10] + str[11:])
print(str.replace(',', ''))

Elementary my dear Watson.
Elementary my dear Watson.

c) From the variable containing the quote, display the following sentence (including the "") in the result window:

*Sherlock Holmes said: "Elementary, my dear Watson."*

In [7]:
# Your solution
print('Sherlock Holmes said: "{}"'.format(str))
print("Sherlock Holmes said: \"{}\"".format(str))

print("Sherlock Holmes said: \"%s\"" % (str))
print(f"Sherlock Holmes said: \"{str}\"")

Sherlock Holmes said: "Elementary, my dear Watson."
Sherlock Holmes said: "Elementary, my dear Watson."
Sherlock Holmes said: "Elementary, my dear Watson."
Sherlock Holmes said: "Elementary, my dear Watson."

# Exercice 3
Considering the following numbers :

70  
25  
99  
100  
88

a) Create a list variable that will contain that numbers. Display the 3rd and 4th values in the result window.

In [8]:
# Your solution
list1 = [70, 25, 99, 100, 88]
print(list1[2])
print(list1[3])
print(list1[2:4])

99
100
[99, 100]

b) Using append() method, add these 3 numbers to the initial variable :

66  
54  
99  

Compare the result with the same task using the extend() method.

In [10]:
# Your solution
print(list1)
list2 = list(list1)
list2.append(66)
list2.append(54)
list2.append(99)
print(list1)
print(list2)

list3 = list(list1)
list3.extend([66, 54, 99]) # Extend list by appending elements from the iterable.
print(list1)
print(list3)

list4 = list(list1)
list4.append([66, 54, 99])
print(list1)
print(list4) #[70, 25, 99, 100, 88, [66, 54, 99]]

[70, 25, 99, 100, 88]
[70, 25, 99, 100, 88]
[70, 25, 99, 100, 88, 66, 54, 99]
[70, 25, 99, 100, 88]
[70, 25, 99, 100, 88, 66, 54, 99]
[70, 25, 99, 100, 88]
[70, 25, 99, 100, 88, [66, 54, 99]]

# Exercice 4
Correct the following code in order that the results obtained are those mentioned in the comments:



```
# Initial results
French = 88
English = 76
Math = 65

# Create a list with that results
Results = [French, English, Math]
print(Results)

# Copy the results for a backup
BK_results = Results

# Change the English result
Results[1]=82

# See the new results
print(Results)

# See the initial results, before changes
print(BK_results)

```

In [11]:
# Initial results
French = 88
English = 76
Math = 65

# Create a list with that results
Results = [French, English, Math]
print(Results)

# Copy the results for a backup
BK_results = tuple(Results)

# Change the English result
Results[1]=82

# See the new results
print(Results)

# See the initial results, before changes
print(BK_results)

[88, 76, 65]
[88, 82, 65]
(88, 76, 65)

# Exercice 5
Consider this information :

*Workshop : Base Python Programming  
Session : 1  
Exercice : 5* 

a) Create a dictionary variable that contain this information.
b) Display the values of the dictionary in the result window.
c) Display the value associated to the "Exercice" key in the result window.

In [14]:
# Your solution
myDict = {'Workshop' : 'Base Python Programming', 'Session' : 1, 'Exercice' : 5}
print(myDict)
print(myDict.values())
print(myDict['Exercice'])

{'Workshop': 'Base Python Programming', 'Session': 1, 'Exercice': 5}
dict_values(['Base Python Programming', 1, 5])
5

# Exercice 6
Correct the following code (keeping the tuple type for tuple1) :

```
tuple1 = ("ONE", "two", "THREE", "four")
tuple1[1]="TWO"
tuple1[3]="FOUR"
```

In [17]:
tuple1 = ("ONE", "two", "THREE", "four")
list1 = list(tuple1)
list1[1]="TWO"
list1[3]="FOUR"
tuple1 = tuple(list1)

del list1

print(tuple1)
print(type(tuple1))

('ONE', 'TWO', 'THREE', 'FOUR')
<class 'tuple'>