![](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRNNMSrl6xvbfPjLuk9k3dl7VyNi0ky19x11A&usqp=CAU)

# **Introduction to Python for Data Science - Exercices part 1 - SOLUTIONS**
Ericsson - August 4 to August 13, 2020

Sarah Legendre Bilodeau, M Sc., HEC Montr√©al

# Exercice 1
Build a code to calculate the amount after applying an inflation rate to an initial amount. 
Use the concept of variables to store your data, including input data and the result.
Print your result and the type of your result variable in the result window.

In [ ]:
amount = 52
inflation = 0.03

result = amount*(1+inflation)
print(result)
print(type(result))

53.56
<class 'float'>

# Exercice 2
Considering the following quote:

*"Elementary, my dear Watson."*

a) Create a string variable with that quote for content. Create a code for extracting the last word without the point. Display that word in the result window.

Note : Do not hesitate to search on google to find an appropriate function if needed !

In [ ]:
quote1 = "Elementary, my dear Watson."

# Extract the last word
last = quote1[20:len(quote1)-1]
print(last)

Watson

b) Remove the comma from the **same object** that contain the quote. Display the result in the result window.

In [ ]:
quote1 = "Elementary, my dear Watson."
quote1 = quote1[:10]+quote1[11:]

#quote1[11]="" #Error! String is immutable

print(quote1)

Elementary my dear Watson.

c) From the variable containing the quote, display the following sentence (including the "") in the result window:

*Sherlock Holmes said: "Elementary, my dear Watson."*

In [ ]:
quote1 = "Elementary, my dear Watson."
quote0 = 'Sherlock Holmes said: "'
quote2 = '"'
quote_res = quote0 + quote1 + quote2
print(quote_res)

Sherlock Holmes said: "Elementary, my dear Watson."

# Exercice 3
Considering the following numbers :

70
25
99
100
88

a) Create a list variable that will contain that numbers. Display the 3rd and 4th values in the result window.

In [ ]:
results = [70, 25, 99, 100, 88]

print(results[2:4])

[99, 100]

b) Using append() method, add these 3 numbers to the initial variable :

66
54
99

Compare the result with the same task using the extend() method.

In [ ]:
add1 = [66, 54, 99]
results.append(add1)
print(results)

#It is important to notice that, a single item (add1 list) is added to the results list.
print(results[5])

#Extend : Iterates over its argument and adding each element to the list and extending the list.
results = [70, 25, 99, 100, 88]
results.extend(add1)
print(results)

[70, 25, 99, 100, 88, [66, 54, 99], [66, 54, 99], [66, 54, 99]]
[66, 54, 99]
[70, 25, 99, 100, 88, 66, 54, 99]

# Exercice 4
Correct the following code in order that the results obtained are those mentioned in the comments:



```
# Initial results
French = 88
English = 76
Math = 65

# Create a list with that results
Results = [French, English, Math]
print(Results)

# Copy the results for a backup
BK_results = Results

# Change the English result
Results[1]=82

# See the new results
print(Results)

# See the initial results, before changes
print(BK_results)

```

In [ ]:
# Initial results
French = 88
English = 76
Math = 65

# Create a list with that results
Results = [French, English, Math]
print(Results)

# Copy the results for a backup
BK_results = list(Results)

# Change the English result
Results[1]=82

# See the new results
print(Results)

# See the initial results, before changes
print(BK_results)

[88, 76, 65]
[88, 82, 65]
[88, 76, 65]

# Exercice 5
Consider this information :

*Workshop : Base Python Programming  
Session : 1  
Exercice : 5* 

a) Create a dictionary variable that contain this information.
b) Display the values of the dictionary in the result window.
c) Display the value associated to the "Exercice" key in the result window.

In [ ]:
#a) 
dict1 = {'Workshop':'Base Python Programming', 'Session':1, 'Exercice':5}
print(dict1)

#b)
print(dict1.values())

#c) 
print(dict1['Exercice'])

{'Workshop': 'Base Python Programming', 'Session': 1, 'Exercice': 5}
dict_values(['Base Python Programming', 1, 5])
5

# Exercice 6
Correct the following code (keeping the tuple type for tuple1) :

```
tuple1 = ("ONE", "two", "THREE", "four")
tuple1[1]="TWO"
tuple1[3]="FOUR"
```

In [ ]:
tuple1 = ("ONE", "two", "THREE", "four")
copy1 = list(tuple1)
copy1[1]="TWO"
copy1[3]="FOUR"
tuple1 = tuple(copy1)
del copy1
print(tuple1)
print(type(tuple1))

('ONE', 'TWO', 'THREE', 'FOUR')
<class 'tuple'>